.footer--container {
    height: 100px;
    background-color: #111111;
    color: #f9f9f9;
}

.footer--container .footer--area {
    height: 100%;
    max-width: 1140px;
    width: 100vw;
    margin: auto;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer--container .footer--logo {
    width: 50%;
}

.footer--container .footer--logo .footer--img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.footer--container .footer--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

@media(max-width: 425px) {
    .footer--container .footer--text {
        font-size: 12px;
        justify-content: center;
        word-spacing: 1px;
    }
}

@media(max-width: 375px) {
    .footer--container .footer--text {
        font-size: 10px;
    }
}