.portolio {
    display: flex;

}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.texto h4 {
    color: #111111;
    font-weight: normal;
    font-size: 18px;
    margin-top: 12px;
}

.texto h1 {
    color: #111111;
    font-weight: bold;
    font-size: 28px;
    margin-top: -12px;
}

.texto hr.rounded-portfolio {
    width: 128px;
    border-top: 5px solid #000000;
    border-radius: 5px;
    margin-top: -8px;
}