.depoiment--container {

    height: 100%;
    max-width: 1140px;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.depoiment--container .texto h2 {
    color: #111111;
    margin: 24px auto;
}

.depoiment--container .texto hr.rounded-video {
    width: 138px;
    border-top: 5px solid #111111;
    border-radius: 5px;
    margin-top: -20px;
}

.depoiment--container .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.depoiment--container .testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}

.depoiment--container .testimonial .image {
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.depoiment--container .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    width: 100%;
}

.depoiment--container p {
    text-align: center;
    padding: 0 120px;
}

.depoiment--container .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoiment--container .name {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
}

.depoiment--container .job {
    font-size: 18px;
    font-weight: bold;
    color: #111111;
}


.depoiment--container-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.contato--area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.contato--area a {
    margin: 0 24px;
}

@media (max-width: 425px) {

    .depoiment--container p {
        font-size: 14px;
    }

    .depoiment--container .name {
        font-size: 12px;
    }

    .depoiment--container .job {
        font-size: 14px;
    }

    .depoiment--container p {
        padding: 0 30px;
    }

    .depoiment--container .testimonial .slide {
        row-gap: 8px;
    }

    .contato--area a {
        margin: 0 14px;
    }
}